h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

.site-header {
	margin: 0 0 100px;
	padding: 0 30px;
	background-color: $color__background-header;

	.home & {
		margin-bottom: 0;
		padding: 180px 30px 100px;
		background-color: #30343a;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		@media screen and ( max-width: 400px ) {
			padding-top: 70px;
			padding-bottom: 50px;
		}
	}

	@media screen and ( max-width: 599px ) {
		text-align: center;

		.site-title,
		.main-navigation {
			float: none;
		}
	}
}

.site-branding {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 40px;
	padding: 40px 0 50px;
}

.site-title {
	margin: 0;

	@include font-size( 36 );

	a {
		color: inherit !important;
		text-decoration: none;
	}

	.home & {
		float: none;
		margin: 0 0 20px;

		@include font-size( 100 );
		font-weight: 400;
		line-height: 1;
		color: #fff;

		@media screen and ( max-width: 600px ) {
			font-size: 16vw;
		}
	}
}

.site-description {
	margin: 0 0 70px;

	@include font-size( 54 );
	line-height: 1;
	color: $color__text-descrip;

	@media screen and ( max-width: 400px ) {

		@include font-size( 44 );
		line-height: 1.2;
		margin-bottom: 35px;
	}

	@media screen and ( max-width: 320px ) {

		@include font-size( 32 );
	}
}

.page-title {
	margin: 0 0 60px;
}

.error404 .page-title,
.entry-title {
	margin: 0 0 60px;

	@include font-size( 72 );
	font-weight: 400;
	line-height: 1.1;
	word-wrap: break-word;

	@media screen and ( max-width: 600px ) {

		@include font-size( 44 );
	}

	.search-results & {
		margin: 0 0 30px;

		@include font-size( 44 );

		a {
			text-decoration: none;

			&:hover,
			&:active,
			&:focus {
				text-decoration: underline;
			}
		}
	}
}

.entry-chapter {
	font-family: $font__sans;

	@include font-size( 14 );
	color: $color__text-light;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.entry-content h2 {
	margin: 60px 0 30px;

	@include font-size( 24 );

	.subheading {
		display: block;
		font-family: $font__sans;

		@include font-size( 18 );
		font-weight: 300;
		color: $color__text-meta;
	}
}
