$color__text-main: #32373c;
$color__text-light: #b4b9be;
$color__text-meta: #82878c;
$color__text-descrip: #00a0d2;
$color__border: #d5dce2;

$color__link: inherit;
$color__link-visited: inherit;
$color__link-hover: inherit;

$color__link-pagination: #0073aa;

$color__text-input: #666;
$color__text-input-focus: #111;
$color__border-input: #ccc;

$color__background-button: #f7f7f7;
$color__border-button: #ccc;

$color__text-primary-button: #fff;
$color__background-primary-button: #0085ba;
$color__border-primary-button: #006799;

$color__text-screen: #21759b;
$color__background-screen: #f1f1f1;

$color__background-body: #fff;
$color__background-header: #f1f1f1;
$color__background-highlight: #f1f1f1;
$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;
