html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background: $color__background-body;
}

blockquote,
q {
	quotes: "" "";

	&::before,
	&::after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin: 30px 0;
}

/* stylelint-disable-next-line no-invalid-position-at-import-rule */
@import "lists";

img {
	height: auto;
	max-width: 100%;
}

/* stylelint-disable-next-line no-invalid-position-at-import-rule */
@import "tables";
