a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}

	&:focus {
		outline: none;
	}

	&:focus-visible {
		box-shadow: 0 0 0 1.5px var(--local--focus--border-color, transparent) !important;
		outline: 1.5px solid var(--local--focus--outline-color, currentColor);
		outline-offset: 1.5px;
	}

	&:hover,
	&:active {
		outline: 0;
	}

	&.fn-link {
		text-decoration: none;
	}

	&.button {

		@include button;

		&.is-primary {

			@include button-primary;
		}
	}
}
