@use "sass:math";
@use "sass:color";

// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: $sizeValue * 1px;
	font-size: math.div($sizeValue, 16) * 1rem;
}

@mixin button {
	display: inline-block;
	padding: 10px 30px;
	font-family: $font__sans;
	font-weight: 600;

	@include font-size( 16 );
	text-decoration: none;
	text-transform: uppercase;

	background-color: $color__background-button;
	border: 1px solid $color__border-button;
	box-shadow: 0 1px 0 $color__border-button;
	border-radius: 3px;

	&:hover,
	&:focus {
		border-color: color.adjust($color__border-button, $lightness: -10%);
	}
}

@mixin button-primary {
	color: $color__text-primary-button;
	background-color: $color__background-primary-button;
	border-color: $color__border-primary-button;
	box-shadow: 0 1px 0 $color__border-primary-button;
	--local--focus--outline-color: #{$color__background-primary-button};
	--local--focus--border-color: #fff;

	&:hover,
	&:focus {
		border-color: color.adjust($color__border-primary-button, $lightness: -10%);
	}
}
