.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;

	.entry-content {
		margin: 0;
	}
}

#jp-post-flair {
	margin-top: 100px;
}

.table-of-contents {
	.entry-content {
		ol {
			margin: 0 0 0 225px;
			padding: 0;

			> li {

				@include font-size( 32 );
				margin-bottom: 30px;
			}

			@media screen and ( max-width: 600px ) {
				margin-left: 50px;
			}
		}

		ul {
			margin: 0 0 60px;
			padding: 0;
			list-style: none;
			font-family: $font__sans;

			> li {
				margin-bottom: 15px;
			}
		}

		a {
			text-decoration: none;

			&:hover,
			&:active,
			&:focus {
				text-decoration: underline;
			}
		}
	}
}

.part-cover {
	.entry-content {
		font-family: $font__sans;

		@include font-size( 42 );
		line-height: 1.6;
		color: $color__text-meta;
		font-weight: 100;

		@media screen and ( max-width: 500px ) {

			@include font-size( 28 );
		}
	}
}

.search-results {
	article.post {
		margin-bottom: 70px;
	}
}
