body.page-volume-landing {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

.page-volume-landing {
	.site-header {
		margin-bottom: 0;
		padding: 180px 30px 100px;
		background-color: #30343a;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		@media screen and ( max-width: 400px ) {
			padding-top: 70px;
			padding-bottom: 50px;
		}
	}

	.site-title {
		float: none;
		margin: 0 0 20px;

		@include font-size( 100 );
		font-weight: 400;
		line-height: 1;
		color: #fff;

		@media screen and ( max-width: 600px ) {
			font-size: 16vw;
		}
	}

	.entry-content {
		margin: 0 auto;
		max-width: $size__site-header;
		color: #fff;

		p:where(:not(.site-description)) {
			font-family: $font__sans;
			font-weight: 100;

			@include font-size( 28 );
		}

		@media screen and ( max-width: 320px ) {
			p {

				@include font-size( 18 );
			}
		}
	}

	.content-area {
		background-color: $color__background-header;
		padding-left: 30px;
		padding-right: 30px;
	}

	hr {
		margin: 0 -30px;
		background-color: $color__border;
	}

	.main-navigation {
		margin: 0 auto;
		padding: 30px 0;
		max-width: $size__site-header;
	}
}

.page-milestones {
	p:where(:not(.site-description)) {
		margin-top: 40px;
	}
}

.page-building-blocks {
	.site-header {
		padding: 70px 30px 30px;
		background: #1a1919;
		text-align: left;
	}

	.site-title {
		font-family: $font__sans;

		@include font-size( 34 );
		font-weight: 600;
	}

	.entry-content,
	.main-navigation,
	.site-info {
		max-width: 1200px;
	}

	.entry-content {
		a:link,
		a:visited,
		a:hover,
		a:active,
		a:focus {
			color: #33f078;
		}

		p:not(.site-description) {

			@include font-size( 16 );
			font-weight: 400;
		}

		.wp-block-columns {
			margin-bottom: 0;
			padding: 0;
		}
	}

	.content-area {
		background-color: #fff;
	}

	.main-navigation {
		a {
			font-weight: 400;
			text-transform: none;
			background-color: transparent;
			border: none;
			box-shadow: none;
			color: #3858e9;
			--local--focus--border-color: #3858e9;
			--local--focus--outline-color: #fff;
		}

		.is-primary a {
			color: #fff;
			background-color: #3858e9;
			--local--focus--border-color: #fff;
			--local--focus--outline-color: #3858e9;
		}

		@media screen and ( max-width: 599px ) {
			li:first-of-type a {
				color: #fff;
				background-color: #3858e9;
				--local--focus--border-color: #fff;
				--local--focus--outline-color: #3858e9;
			}
		}
	}
}
